<% include header %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6" style="border: 1px #fff solid; height: 260px; padding: 60px">

			<div id="payloadMeterDiv" style="margin: auto;"></div>
			<br />
			<div id="payloadSliderDiv"></div>

		</div>
		<div id="titleContainer" class="col-xs-6" style="border: 1px #fff solid; height: 260px; line-height: 260px; text-align: center; background-color: cyan">

			<div id="title" style="display: inline-block; vertical-align: middle; line-height: normal;"><h1>Welcome</h1><h3>to the LoRa + Raspberry PI<br/>uplink/downlink demo</h3></div>

		</div>
	</div>
	<div id="logContainer" class="row" style="border: 1px #fff solid; height: 220px; padding: 20px; background-color: #333; color: #fff; font-family: Courier; overflow-y: scroll; overflow-x: hidden">		
	</div>
</div>

<% include footer %>